<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>XGBoost Prediction</title>
        <script src="https://unpkg.com/htmx.org@1.9.11"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
    <h2>XGBoost Prediction</h2>
    <form hx-post="/predict" hx-target="#prediction-result" hx-swap="innerHTML">
        <input type="text" id="text-input" name="text"><br><br>
        <button type="submit">Predict</button>
    </form>
    <div id="prediction-result">
    </div>
    </body>
</html>
